################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HealthMed/.vs/HealthMed
/HealthMed/HealthMed.API/obj
/HealthMed/HealthMed.Domain/obj
/HealthMed/.vs/ProjectEvaluation
/HealthMed/HealthMed.Infra/obj
/HealthMed/HealthMed.Domain/bin/Debug/net8.0
/HealthMed/HealthMed.Infra/bin/Debug/net8.0
/HealthMed/HealthMed.Business/obj
